.block-to-whom{
    border: 1px solid #CED0D4;
    background: #F0F2F5;
    border-radius: 10px;
    transition: all 0.3s;
    min-height: 165px;
    overflow:hidden;
    padding: 15px 20px;
    position: relative;
}
.block-to-whom .content{
    width: 60%;
}
.block-to-whom .content h3{font-size: 24px; margin-bottom: 10px;}
.block-to-whom .content p{font-size: 16px;}
.block-to-whom .img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 40%;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    border-radius: 100px 0 0 0;
}
.block-to-whom:hover{
    background: #fff;
}

@media (max-width: 768px) {
    .block-to-whom .content h3{font-size: 20px; margin-bottom: 10px;}
    .block-to-whom .content p{font-size: 12px;}
}